{% extends "base.html" %}

{% block content %}

<br/>
<div class="container">
  
 {% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
        <strong>{{message}}</strong>
    </div>
    {% endfor %}
 </div>
 
    <h1> Login</h1>
    <div class = "well">
    <form action="" method="post" name="login">
        {{form.hidden_tag()}}
        
            <h4>Bitte Namen eingeben:</h4>
            {{ form.benutzer(size=80) }}
        <div class="checkbox">
        <label>
            <p> {{form.remember_me}} Eingeloggt bleiben </p>
        </label>
        </div>
        
        <p><button class="btn btn-primary" type="submit" ><h4>Einloggen</h4></p>
        </form>
    </div>
{% endblock %}